// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//SIGN UP FORM

.signup-form-container {
  display: flex;
  background-color: #ffffff;
}
.signup-form {
  display: flex;
  flex-direction: column;
  // flex-flow: row wrap;
  // justify-content: flex-start;
  margin: 0 10%;
  width: 40%;
  justify-content: flex-start;
}
.website-name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 45px;
}
.signup-form-headers {
  margin-top: 40px;
  justify-items: center;
}
.sign-up-header {
  font-size: 24px;
  font-weight: 500;
}
.sign-up-text {
  font-size: 15px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 18px;
}
.sign-up-text-2 {
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 16px;
}
.signup-inputs {
  display: flex;
  flex-flow: row wrap;
}
.signup-input {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 0px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 200ms ease 0s;
  background-color: rgb(245, 248, 250);
  border-radius: 4px;
  border: solid 1px rgb(245, 248, 250);
  margin: 10px 0px;
  font-size: 13px;
  height: 36px;
}
@media (max-width: 768px) {
  input {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .signup-fname {
    width: 44%;
    margin-right: 6%;
  }
  .signup-lname {
    width: 50%;
    margin-right: 0;
  }
}
.signup-input:hover {
  background-color: #ffffff;
  border: solid 1px rgb(245, 248, 250);
}
.signup-input:focus {
  border: solid 0.5px rgb(0, 200, 5);
  border-radius: 4px;
  outline: none;
}
.signup-input::placeholder {
  color: rgb(180, 189, 194);
  padding: 0px 6px;
}
.signup-input-button {
  padding: 0 48px;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 70px;
  max-width: 210px;
  cursor: pointer;
  align-items: center;
  height: 48px;
  border: none;
  background-color: rgb(0, 200, 5);
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 40px;
}
.signup-input-button:hover {
  background-color: rgb(0, 180, 5);
  border-radius: 4px;
}

.sign-up-errors-list {
  list-style-type: disc;
  padding-left: 0;
  list-style-position: inside;
  padding-top: 24px;
}
.sign-up-error {
  color: #ff5000;
  font-size: 16px;
  margin-bottom: 8px;
}

//LOGIN FORM
.login-contain {
  flex: 1 1 50%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background-color: #ffffff;
}
.login-form-container {
  display: flex;
  overflow: hidden;
}
@media (max-width: 1130px) {
  .login-form {
    width: 460px;
  }
}
@media (min-width: 768px) {
  .login-form {
    width: 460px;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.login-form-header {
  font-size: 22px;
  line-height: 20px;
  font-weight: 500;
  margin: 70px 0 20px 0;
}
.login-input-label {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}
.login-label-bar {
  padding: 9px 0px;
}
.login-inputs {
  display: flex;
  flex-flow: column wrap;
}
.login-input {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 0px;
  width: 75%;
  box-sizing: border-box;
  transition: border-color 200ms ease 0s;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: solid 1px rgb(245, 248, 250);
  margin: 10px 0px;
  font-size: 13px;
  height: 36px;
  padding: 0px 12px;
}
.login-input:hover {
  border: solid 1px rgba(191, 199, 203, 1);
  border-radius: 4px;
}
.login-input:focus {
  border: solid 1px rgb(0, 200, 5);
  border-radius: 4px;
  outline: none;
}

.login-input-button {
  padding: 0 48px;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 65px;
  max-width: 160px;
  cursor: pointer;
  align-items: center;
  height: 48px;
  border: none;
  background-color: rgb(0, 200, 5);
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 20px;
}
.login-input-button:hover {
  background-color: rgb(0, 180, 5);
}
.login-errors {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin: 15px 0 40px 0;
}
.test-space {
  background-color: rgb(245, 248, 250);
  padding-bottom: 100%;
  flex: 1 1 50%;
  // height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.test-space-signup {
  background-color: rgb(245, 248, 250);
  padding-bottom: 100%;
  // flex: 1 1 50%;
  height: 100%;
  // object-fit: cover;
  overflow: hidden;
  // order:2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  order: 2;
  width: 40%;
}

.demo-login-input-button {
  padding: 0 48px;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 70px;
  max-width: 210px;
  cursor: pointer;
  align-items: center;
  height: 48px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 24px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 40px;
}
.demo-login-input-button:hover {
  background-color: rgba(38, 38, 38, 0.9);
}
