// Place all the styles related to the api/WatchlistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.watchlist-main-position {
  position: absolute;
  // right: 0;
  left: 100%;
  // top: 64px;
  // padding: 36px 24px 24px 0;
  padding: 0px 24px 24px 0;
  margin: 0 0 0 50px;
  background-color: white;
  // display: flex;
}
.watchlist-main-contain {
  display: flex;
  position: sticky;
  overflow-y: auto;
  max-height: 552px;
  width: 276px;
  flex-flow: column nowrap;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 20%);
}
.lists-header {
  background-color: white;
  border-bottom: solid 1px rgb(227, 233, 237);
  display: flex;
  min-height: 52px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 24px 0px 24px;
  flex-flow: row nowrap;
}
.list-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.create-watchlist-button {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 4px;
}
.watchlist-item-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 10px 24px 10px 24px;
}
.watchlist-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.watchlist-icons {
  display: flex;
}
.edit-icon {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}
.delete-icon {
  margin-left: 10px;
}
.edit-icon:hover {
  color: rgb(60, 245, 88);
}
.watchlist-chevron {
  font-size: 16px;
}
.watchlist-item-contain:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}
.watchlist-item-contain:hover .watchlist-chevron {
  color: rgb(60, 245, 88);
}
.watched-stock {
  // padding: 0px 24px 0px 24px;
}
.watched-stock-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px 24px 10px 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.watched-stock-name:hover {
  background-color: rgb(242, 242, 242);
}
.edit-watchlist-input {
  width: 50%;
  border: solid 1px rgb(227, 233, 237);
  height: 20px;
  border-radius: 4px;
  padding-left: 5px;
}
.edit-watchlist-input:focus {
  border: solid 0.5px rgb(60, 245, 88);
  border-radius: 4px;
  outline: none;
}
.invisible-ellipse {
  color: rgb(250, 250, 250);
}
