/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: black;
  list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* background-color: rgb(195,245,60); */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:visited {
  color: transparent;
  background-color: transparent;
  text-decoration: none;
}
.website-name{
  margin-top: 20px;
}
.website-name-nav {
  font-size: 25px;
  font-weight: 500;
}
.prot-leaf:hover {
  color: rgb(60, 245, 88);
}
.auth-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 20%);
  padding: 0px 24px;
  height: 64px;
  align-items: center;
  position: sticky;
  z-index: 1;
  /* margin-bottom: 10px; */
}
.auth-navbar-links {
  line-height: 28px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}
.auth-navbar-login {
  margin: 0 12px 0 0;
}
.auth-navbar-login:hover {
  /* color: rgb(0, 200, 5); */
  color: rgb(60, 245, 88);
}
.auth-navbar-signup {
  margin: 0 18px;
  padding: 8px 0;
  /* height: 48px; */
  min-width: 144px;
  border-radius: 24px;
  background-color: rgb(60, 245, 88);
  /* background-color: rgb(0, 200, 5); */
  text-align: center;
}
.auth-navbar-signup:hover {
  /* background-color: rgb(0, 180, 5); */
  background-color: rgb(47, 204, 70);
}
.protected-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  height: 64px;
  align-items: center;
}
.loupe-icon {
  font-size: 13px;
}
.stocks-search-bar {
  display: flex;
  position: relative;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  /* flex-direction: column; */
  border: solid 1px rgb(227, 233, 237);
  color: rgb(133, 140, 145);
  padding: 0 24px;
  height: 34px;
  align-items: center;
}
.stocks-search {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  min-width: 285px;
  width: 100%;
  outline: none;
  border: none;
  padding: 1px 2px 1px 2px;
}
.stocks-search::placeholder {
  color: rgb(180, 189, 194);
  padding: 0px 6px;
}
.stocks-search-bar:hover {
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 10%);
}
.stocks-search-bar:focus {
  color: #000000;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}
.stock-search-list {
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 10%);
  min-width: 350px;
  z-index: 1;
  border-radius: 4px;
}
.search-list-item {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.search-list-item:hover {
  background-color: rgb(227, 233, 237);
}
.prot-page-container {
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
}
.prot-page-contain {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.welcome-to-prot {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: unset;

  left: 0;
}
.prot-page-bkg {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.graph-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: relative;
}
