.splash-page-header {
  background-color: rgb(60, 245, 88);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 653px;
  /* height: 839px; */
  position: relative;
  border-bottom: 1px solid black;
}
.splash-page-contain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  margin-top: 60px;
}
.photo-gif-splash {
  display: flex;
  width: 653px;
  height: 653px;
}
.splash-phone {
  position: absolute;
  overflow: hidden;
}
.counting-money-gif {
  margin-left: 120px;
  margin-top: 21px;
}
.splash-page-hero {
  width: 492px;
  margin-top: 80px;
}
.splash-page-hero-h1 {
  font-size: 52px;
}
.splash-page-hero-h2 {
  font-size: 24px;
}
.splash-phone {
  min-width: 600px;
  max-width: 100%;
}
.splash-page {
  position: relative;
  min-width: 1024px;
  height: 100%;
}
.splash-second-flex {
  background-color: black;
  display: flex;
  overflow-y: hidden;
  /* align-items: center; */
  justify-content: center;
  /* height: 40vh; */
  min-height: 100%;
  margin-top: 20px;
}

.github-link {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  margin: 50px;
  /* padding-bottom: 100px; */
  color: white;
  height: 100%;
}
.splash-icon {
  color: white;
  font-size: 84px;
}
@media screen and (max-width: 1347px) {
  .splash-page-contain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    margin-top: 0px;
  }
  .splash-page-header {
    height: 100%;
  }
  .splash-second-flex {
    height: 15vh;
    min-height: 100%;
  }
}

@media screen and (min-width: 1030px) {
  .splash-second-flex {
    background-color: black;
    display: flex;
    overflow-y: hidden;
    /* align-items: center; */
    justify-content: center;
    height: 40vh;
    min-height: 100%;
    margin-top: 20px;
  }
}
